# Python
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/launch.json
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Project-specific
pdfs/
